{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/categorias_details.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/categorias_soluciones.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/categorias_motos.css' %}"
    />

    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icono.sinfondo_admin_site_logo.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="wrapper_catalogo_aside">
      <aside class="filters_container">
        <form action="" method="get">
          <h1>Coutas</h1>
          <div class="cuotas">
            <input type="radio" name="cuota" id="venticuatro" value="24" />
            <label for="venticuatro">
              <h3>24</h3>
            </label>

            <input type="radio" name="cuota" id="treinta" value="30" />
            <label for="treinta">
              <h3>30</h3>
            </label>

            <input type="radio" name="cuota" id="cuarentaocho" value="48" />
            <label for="cuarentaocho">
              <h3>48</h3>
            </label>

            <input type="radio" name="cuota" id="sesenta" value="60" />
            <label for="sesenta">
              <h3>60</h3>
            </label>
          </div>
          <button type="submit" id="button_filter">Buscar</button>
        </form>
        <a id="clear" href="{%  url 'market:clear_soluciones' %}"
          >Limpiar filtros</a
        >
      </aside>
      <button type="button" id="filter_button">Filtrar</button>
      <section class="catalogo">
        {% if dineros.count != 0 %} {% for monto in dineros %}
        <a href="{% url 'market:solucione_detail' monto.id %}">
          <article>
            <img src="{% static 'images/icons/dollar.svg' %}" alt="" />
            <div>
              <h2>{{monto.monto}}</h2>
              <h3>{{monto.cuota}} Cuotas</h3>
            </div>
          </article>
        </a>
        {% endfor %} {% elif dineros.count == 0 %}
        <div class="not_found">
          <figure>
            <img src="{% static 'images/icons/nothing-found.png' %}" alt="" />
          </figure>
          <h1>¡Ups! Al parecer no se encuentran productos disponibles</h1>
        </div>
        {% endif %}
      </section>
    </div>
  </body>
  <script src="{% static 'js/header.js' %}"></script>
  <script src="{% static 'js/filter_button.js' %}"></script>
  <script src="{% static 'js/menu_hamburguer.js' %}"></script>
  <script src="{% static 'js/clear_filter_dinero.js' %}"></script>
</html>
