{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/categorias_beneficios.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/categorias_beneficios.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icono.sinfondo_admin_site_logo.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}

    <section class="beneficios">
      <div class="beneficios__wrapper">
        <figure class="image_tenico">
          <img src="{% static 'images/technical+logo.png' %}" alt="" />
        </figure>

        <div class="portada_description">
          <h1>Nuestros Beneficios</h1>
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            expedita nesciunt, labore dolores cumque nemo accusantium maxime
            veniam quam nisi distinctio beatae deserunt excepturi, maiores,
            tempora omnis. Incidunt, assumenda libero.
          </h3>
        </div>
      </div>
      <div class="modal_form_container">
        <div class="wrapper_windown_form">
          <div class="window_form">
            <form action="" method="post" id="form_fetch_post">
              {% csrf_token %}
              <input
                type="text"
                name="servicio"
                id="servicio"
                value=""
                readonly
              />
              <input
                type="text"
                name="producto"
                id="producto"
                value=""
                readonly
              />
              <input type="number" name="monto" id="monto" value="" readonly />
              <h2 class="service_selected"></h2>
              <div class="container_product">
                <h3 class="product_selected"></h3>
                <h3 class="monto_selected"></h3>
              </div>

              <div class="nombre_completo_container">
                <input
                  type="text"
                  name="nombre_completo"
                  id="nombre"
                  placeholder="Nombre y apeliido"
                  autocomplete="off"
                  onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)|| (event.charCode == 241 || event.charCode == 209) || (event.charCode == 32)'
                />
                
              </div>

              <div class="num_telefono_container">
                <input
                  type="text"
                  name="num_telefono"
                  id="numero"
                  pattern="[0-9]*"
                  placeholder="Telefono"
                  autocomplete="off"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                />
              </div>
    
              <div class="email_container">
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  autocomplete="off"
                />
                <p>Formato de email no valido</p>
              </div>
    
              <div class="provincia_container">
                <input 
                type= "text"
                name= "provincia"
                id= "provincia"
                placeholder= "Provincia"
                autocomplete= "off"
                />
              </div>

              <button type="button" id="form_product_button" class="desactive">
                Enviar
              </button>
              <div class="message_success hide">
                <h3>¡Tu formulario se ha enviado correctamente!</h3>
                <h4>Nos comunicaremos contigo mediante un correo</h4>
              </div>
              <div class="message_error hide">
                <h3>Algo ha salido mal</h3>
                <h4>Al parecer has colacado mal algun campo. Vuelve a intentarlo</h4>
                <figure class="image_error">
                  <img src="{% static 'images/icons/eliminar.svg' %}" alt="pulgar_aprovado">
                </figure>
              </div>
            </form>
            <button type="button" id="close_modal">Salir</button>
          </div>
        </div>
      </div>
      <div class="beneficios__table">
        <article class="beneficios__table__item">
          <h2 class="beneficios__table__item__title">
            Servicio Mecanico Sencillo
          </h2>
          <h4 class="beneficios__table__item__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            provident inventore dolor modi.
          </h4>
          <h2 class="beneficios__table__item__price">
            ¡Seleccione el producto para ver su precio!
          </h2>
          {% comment %}
          <h4 class="beneficios__table__item__question">
            ¿Te interesó este plan?
          </h4>
          {% endcomment %} {% comment %}
          <h4 class="beneficios__table__item__text-products">
            Seleccione el producto
          </h4>
          {% endcomment %}
          <div class="beneficios__table__item__products">
            <div class="title_select">
              <h2>Eligir</h2>
              <img src="{% static 'images/icons/expand_more.svg' %}" alt="" />
            </div>
            <ul class="list_products">
              {% for product in productos_basico %}

              <li>
                <h3>{{product}}</h3>
              </li>

              {% endfor %}
            </ul>
          </div>
          <ol class="beneficios__table__servicios_list">
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
          </ol>
          <button type="button" class="beneficios__table__item__buttton">
            Haznolo saber
          </button>
        </article>
        <article class="beneficios__table__item">
          <h2 class="beneficios__table__item__title">
            Servicio Mecanico Estandar
          </h2>
          <h4 class="beneficios__table__item__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            provident inventore dolor modi.
          </h4>
          <h2 class="beneficios__table__item__price">
            ¡Seleccione el producto para ver su precio!
          </h2>
          {% comment %}
          <h4 class="beneficios__table__item__question">
            ¿Te interesó este plan?
          </h4>
          {% endcomment %}

          <div class="beneficios__table__item__products">
            <div class="title_select">
              <h2>Eligir</h2>
              <img src="{% static 'images/icons/expand_more.svg' %}" alt="" />
            </div>
            <ul class="list_products">
              {% for product in productos_estandar %}

              <li>
                <h3>{{product}}</h3>
              </li>

              {% endfor %}
            </ul>
          </div>
          <ol class="beneficios__table__servicios_list">
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
          </ol>
          <button type="button" class="beneficios__table__item__buttton">
            Haznolo saber
          </button>
        </article>
        <article class="beneficios__table__item">
          <h2 class="beneficios__table__item__title">
            Servicio Mecanico Premium
          </h2>
          <h4 class="beneficios__table__item__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            provident inventore dolor modi.
          </h4>
          <h2 class="beneficios__table__item__price">
            ¡Seleccione el producto para ver su precio!
          </h2>
          {% comment %}
          <h4 class="beneficios__table__item__question">
            ¿Te interesó este plan?
          </h4>
          {% endcomment %}

          <div class="beneficios__table__item__products">
            <div class="title_select">
              <h2>Eligir</h2>
              <img src="{% static 'images/icons/expand_more.svg' %}" alt="" />
            </div>
            <ul class="list_products">
              {% for product in productos_premium %}

              <li>
                <h3>{{product}}</h3>
              </li>

              {% endfor %}
            </ul>
          </div>
          <ol class="beneficios__table__servicios_list">
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
            <li>
              <p>Lorem ipsum dolor</p>
            </li>
          </ol>
          <button type="button" class="beneficios__table__item__buttton">
            Haznolo saber
          </button>
        </article>
      </div>
    </section>
  </body>
  <script src="{% static 'js/header.js' %}"></script>
  <script src="{% static 'js/modal_form.js' %}"></script>
  <script src="{% static 'js/fetch_form_beneficios.js' %}"></script>
  <script src="{% static 'js/validate_button_products.js' %}"></script>
  <script src="{% static 'js/beneficios_products.js' %}"></script>
  <script src="{% static 'js/menu_hamburguer.js' %}"></script>
</html>
