{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/categorias.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icon_page4.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}

    <section class="categorias">
      <article class="motos">
        <figure>
          <img src="{% static 'images/icons/moto_icon.png' %}" alt="" />
        </figure>
        <a href="{% url 'market:motos' %}"><h1>Motos</h1></a>
        <ul>
          <li>
            <a href="" id="moto_yamaha"><h2>Yamaha</h2></a>
          </li>
          <li>
            <a href="" id="moto_honda"><h2>Honda</h2></a>
          </li>
          <li>
            <a href="" id="moto_motomel"><h2>Motomel</h2></a>
          </li>
          <li>
            <a href="" id="moto_rouser"><h2>Rouser</h2></a>
          </li>
          <li>
            <a href="{% url 'market:motos' %}"><h2>Ver más...</h2> </a>
          </li>
        </ul>
      </article>

      <article class="electrodomesticos">
        <figure>
          <img
            src="{% static 'images/icons/icon_electrodo_relleno.png' %}"
            alt=""
          />
        </figure>
        <a href="{% url 'market:electrodomesticos' %}"
          ><h1>Electrodomesticos</h1></a
        >
        <ul>
          <li>
            <a href="" id="combo_cocina"><h2>Combo cocina</h2></a>
          </li>
          <li>
            <a href="" id="combo_gamer"><h2>Combo gamer</h2></a>
          </li>
          <li>
            <a href="" id="combo_musica"><h2>Combo música</h2></a>
          </li>
          <li>
            <a href="" id="combo_tv"><h2>Combo TV</h2></a>
          </li>
          <li>
            <a href="{% url 'market:motos' %}"><h2>Ver más...</h2> </a>
          </li>
        </ul>
      </article>

      <article class="soluciones_dinerarias">
        <figure>
          <img
            src="{% static 'images/icons/icon_solu_dineraria.png' %}"
            alt=""
          />
        </figure>
        <a href="{% url 'market:soluciones_dinerarias' %}"
          ><h1>Soluciones Dinerarias</h1></a
        >
      </article>

    </section>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/menu_hamburguer.js' %}"></script>
    <script src="{% static 'js/redirect_alternative.js' %}"></script>
  </body>
</html>
