{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/categorias_details.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/categorias_electrodomesticos.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/categorias_motos.css' %}"
    />
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icon_page4.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="wrapper_catalogo_aside">
      <aside class="filters_container">
        <form action="" method="get">
          <h1>Combos</h1>
          <div class="combos">
            <input type="radio" name="combo" id="cocina" value="cocina" />
            <label for="cocina">
              <h3>Combos cocina</h3>
            </label>

            <input type="radio" name="combo" id="tecnologia" value="tecnologia" />
            <label for="tecnologia">
              <h3>Combos tecnologia</h3>
            </label>

            <input type="radio" name="combo" id="dormitorio" value="dormitorio" />
            <label for="dormitorio">
              <h3>Combos dormitorio</h3>
            </label>

            <input type="radio" name="combo" id="living" value="living" />
            <label for="living">
              <h3>Combos living</h3>
            </label>

            <input type="radio" name="combo" id="hogar" value="hogar" />
            <label for="hogar">
              <h3>Combos hogar</h3>
            </label>
          </div>

          <!-- <h1>Coutas</h1>
          <div class="cuotas">
            <input type="radio" name="cuota" id="venticuatro" value="24" />
            <label for="venticuatro">
              <h3>24</h3>
            </label>

            <input type="radio" name="cuota" id="treinta" value="30" />
            <label for="treinta">
              <h3>30</h3>
            </label>

            <input type="radio" name="cuota" id="cuarentaocho" value="48" />
            <label for="cuarentaocho">
              <h3>48</h3>
            </label>

            <input type="radio" name="cuota" id="sesenta" value="60" />
            <label for="sesenta">
              <h3>60</h3>
            </label>
          </div> -->

          <h1>Precio</h1>
          <div class="precio">
            <input
              type="text"
              pattern="[0-9]*"
              name="minimo"
              id="minimo"
              placeholder="Minimo"
            />
            <input
              type="text"
              pattern="[0-9]*"
              name="Maximo"
              id="maximo"
              placeholder="Maximo"
            />
          </div>
          <button type="submit" id="button_filter">Buscar</button>
          <a id="clear" href="{%  url 'market:clear_electrodomesticos' %}"
            >Limpiar filtros</a
          >
        </form>
      </aside>
      <button type="button" id="filter_button">Filtrar</button>
      <section class="catalogo">
        {% if electrodomesticos.count != 0 %} 
          {% for electrodomestico in electrodomesticos %}
          <a href="{% url 'market:electrodomestico' electrodomestico.slug %}">
            <article>
              <img src="{{electrodomestico.imagen_portada.url}}" alt="" />
              <div>
                <h2>Consultar precio</h2>
                <h3>$0</h3>
              </div>
            </article>
          </a>
          {% endfor %} 
        {% elif electrodomesticos.count == 0 %}
        <div class="not_found">
          <figure>
            <img src="{% static 'images/icons/nothing-found.png' %}" alt="" />
          </figure>
          <h1>¡Ups! Al parecer no se encuentran productos disponibles</h1>
        </div>
        {% endif %}
      </section>
    </div>
  </body>
  <script src="{% static 'js/header.js' %}"></script>
  <script src="{% static 'js/filter_button.js' %}"></script>
  <script src="{% static 'js/menu_hamburguer.js' %}"></script>
  <script src="{% static 'js/clear_filter_elec.js' %}"></script>
</html>
