{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/categorias_beneficios.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/categorias_beneficios.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icon_page4.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}

    <section class="beneficios">
      <div class="beneficios__wrapper">
        <figure class="image_tenico">
          <img src="{% static 'images/technical+logo.png' %}" alt="" />
        </figure>

        <div class="portada_description">
          <div class="background_tittle">
            <h1>NUESTROS BENEFICIOS</h1>
          </div>
          <h3>
            ¿Te ha pasado que tu electrodoméstico o aparato electrónico favorito deja de funcionar y no sabes cómo solucionarlo? ¡No te preocupes más! En ELANEL Servicios y Soluciones, ofrecemos un servicio de Asistencia Técnica que te ayudará a prolongar la vida útil de tus bienes  y ahorrar dinero en reemplazos innecesarios.
          </h3>
        </div>
      </div>
      <div class="container_text2">
        <p class="text1">
          Nuestro servicio de Asistencia Técnica integral incluye un diagnóstico detallado y por escrito de la falla y las características del repuesto a reemplazar para la reparación, garantizando el correcto funcionamiento del bien.
        </p>
        <br>
        <p class="text2">
          Además,se realizará en el lugar que tú prefieras: en tu domicilio o en el taller de reparación que designe nuestra empresa, dependiendo de la complejidad. <br>
          <br>
          ¿No es emocionante todo lo que te mencionamos? Tendrás la tranquilidad de saber que tus bienes declarados siempre estarán en perfecto estado. ¡No esperes más y solicita ahora mismo nuestros servicios!
        </p>
      </div>
      {% comment %} <div class="container_text3">
        <figure class="background_image">
          <img src="{% static 'images/foto_texto.jpg'%}" alt="">
        </figure>
        <div>
          <p>
            Pero eso no es todo. En ELANEL Servicios y Soluciones, queremos que tengas la tranquilidad de saber que tus electrodomésticos y aparatos electrónicos estarán siempre en perfecto estado. Por eso, nuestro servicio de Asistencia Técnica también incluye la garantía de que si tu electrodoméstico o aparato electrónico presenta la misma falla dentro de los 60 días posteriores a la reparación, nosotros lo repararemos de nuevo sin costo adicional.
          </p>
        </div>
        
        <div class="background_text">
          
        </div>
        
      </div> {% endcomment %}
      <div class="modal_form_container">
        <div class="wrapper_windown_form">
          <div class="window_form">
            <form action="" method="post" id="form_fetch_post">
              {% csrf_token %}
              <input
                type="text"
                name="servicio"
                id="servicio"
                value=""
                readonly
              />
              <input
                type="text"
                name="producto"
                id="producto"
                value=""
                readonly
              />
              <input type="number" name="monto" id="monto" value="" readonly />
              <h2 class="service_selected"></h2>
              <div class="container_product">
                <h3 class="product_selected"></h3>
                <h3 class="monto_selected"></h3>
              </div>

              <div class="nombre_completo_container">
                <input
                  type="text"
                  name="nombre_completo"
                  id="nombre"
                  placeholder="Nombre y apeliido"
                  autocomplete="off"
                  onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)|| (event.charCode == 241 || event.charCode == 209) || (event.charCode == 32)'
                />
                
              </div>

              <div class="num_telefono_container">
                <input
                  type="text"
                  name="num_telefono"
                  id="numero"
                  pattern="[0-9]*"
                  placeholder="Telefono"
                  autocomplete="off"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                />
              </div>
    
              <div class="email_container">
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  autocomplete="off"
                />
                <p>Formato de email no valido</p>
              </div>
    
              <div class="provincia_container">
                <input 
                type= "text"
                name= "provincia"
                id= "provincia"
                placeholder= "Provincia"
                autocomplete= "off"
                />
              </div>

              <button type="button" id="form_product_button" class="desactive">
                Enviar
              </button>
              <div class="message_success hide">
                <h3>¡Tu formulario se ha enviado correctamente!</h3>
                <h4>Nos comunicaremos contigo mediante un correo</h4>
              </div>
              <div class="message_error hide">
                <h3>Algo ha salido mal</h3>
                <h4>Al parecer has colacado mal algun campo. Vuelve a intentarlo</h4>
                <figure class="image_error">
                  <img src="{% static 'images/icons/eliminar.svg' %}" alt="pulgar_aprovado">
                </figure>
              </div>
              <button type="button" id="close_modal">Salir</button>
            </form>
          </div>
        </div>
      </div>
      <div class="beneficios__table">
        <article class="beneficios__table__item">
          <h2 class="beneficios__table__item__title">
            Servicio Mecanico Básico
          </h2>
          <!-- <h4 class="beneficios__table__item__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            provident inventore dolor modi.
          </h4> -->
          <h2 class="beneficios__table__item__price">
            ¡Seleccione el producto para ver su precio!
          </h2>
          {% comment %}
          <h4 class="beneficios__table__item__question">
            ¿Te interesó este plan?
          </h4>
          {% endcomment %} {% comment %}
          <h4 class="beneficios__table__item__text-products">
            Seleccione el producto
          </h4>
          {% endcomment %}
          <div class="beneficios__table__item__products">
            <div class="title_select">
              <h2>Eligir</h2>
              <img src="{% static 'images/icons/expand_more.svg' %}" alt="" />
            </div>
            <ul class="list_products">
              {% for product in productos_basico %}

              <li>
                <h3>{{product}}</h3>
              </li>

              {% endfor %}
            </ul>
          </div>
          <ol class="beneficios__table__servicios_list">
            <li>
              <p>2 Servicios de Asistencia Técnica o Mecánica por año.</p>
            </li>
            <li>
              <p>Valor del servicio a reconocer hasta $ 3000 cada uno.</p>
            </li>
          </ol>
          <button type="button" class="beneficios__table__item__buttton">
            Haznolo saber
          </button>
        </article>
        <article class="beneficios__table__item">
          <h2 class="beneficios__table__item__title">
            Servicio Mecanico Estándar
          </h2>
          <!-- <h4 class="beneficios__table__item__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            provident inventore dolor modi.
          </h4> -->
          <h2 class="beneficios__table__item__price">
            ¡Seleccione el producto para ver su precio!
          </h2>
          {% comment %}
          <h4 class="beneficios__table__item__question">
            ¿Te interesó este plan?
          </h4>
          {% endcomment %}

          <div class="beneficios__table__item__products">
            <div class="title_select">
              <h2>Eligir</h2>
              <img src="{% static 'images/icons/expand_more.svg' %}" alt="" />
            </div>
            <ul class="list_products">
              {% for product in productos_estandar %}

              <li>
                <h3>{{product}}</h3>
              </li>

              {% endfor %}
            </ul>
          </div>
          <ol class="beneficios__table__servicios_list">
            <li>
              <p>3 Servicios de Asistencia Técnica o Mecánica por año.</p>
            </li>
            <li>
              <p>Valor del servicio a reconocer hasta $ 4000 cada uno.</p>
            </li>
          </ol>
          <button type="button" class="beneficios__table__item__buttton">
            Haznolo saber
          </button>
        </article>
        <article class="beneficios__table__item">
          <h2 class="beneficios__table__item__title">
            Servicio Mecanico Premium
          </h2>
          <!-- <h4 class="beneficios__table__item__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            provident inventore dolor modi.
          </h4> -->
          <h2 class="beneficios__table__item__price">
            ¡Seleccione el producto para ver su precio!
          </h2>
          {% comment %}
          <h4 class="beneficios__table__item__question">
            ¿Te interesó este plan?
          </h4>
          {% endcomment %}

          <div class="beneficios__table__item__products">
            <div class="title_select">
              <h2>Eligir</h2>
              <img src="{% static 'images/icons/expand_more.svg' %}" alt="" />
            </div>
            <ul class="list_products">
              {% for product in productos_premium %}

              <li>
                <h3>{{product}}</h3>
              </li>

              {% endfor %}
            </ul>
          </div>
          <ol class="beneficios__table__servicios_list">
            <li>
              <p>4 Servicios de Asistencia Técnica o Mecánica por año.</p>
            </li>
            <li>
              <p>Valor del servicio a reconocer hasta $ 5000 cada uno.</p>
            </li>
          </ol>
          <button type="button" class="beneficios__table__item__buttton">
            Haznolo saber
          </button>
        </article>
      </div>
    </section>
  </body>
  <script src="{% static 'js/header.js' %}"></script>
  <script src="{% static 'js/modal_form.js' %}"></script>
  <script src="{% static 'js/fetch_form_beneficios.js' %}"></script>
  <script src="{% static 'js/validate_button_products.js' %}"></script>
  <script src="{% static 'js/beneficios_products.js' %}"></script>
  <script src="{% static 'js/menu_hamburguer.js' %}"></script>
</html>
