{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/detail_moto.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/detalle_producto.css' %}"
    />
    {% comment %}
    <script src="../js/sweetalert2.all.js"></script>
    {% endcomment %}
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icono.sinfondo_admin_site_logo.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="wrapper">
      
      <div class="products_images">
        <aside class="nav__images">
          {% for electrodomestico_image in electrodomesticos_images %}
          <figure>
            <img src="{{electrodomestico_image.imagen.url}}" alt="" />
          </figure>
          {% endfor %}
        </aside>
  
        <article class="complete__image">
          <img src="" alt="" />
        </article>
  
        <div class="title_producto_responsive">
          <h1 id="title_product">{{object.nombre|title}}</h1>
          <h1 id="precio_product">${{object.precio|floatformat }}</h1>
        </div>
      </div>
      

      <aside class="resumen">
        <div class="detalle_producto">
          <h1 id="title_product">{{object.nombre|title}}</h1>
          <h1 id="precio_product">${{object.precio|floatformat }}</h1>
        </div>
        <div class="resumen__detalle">
          {% if object.marca != None %}
          <div id="marca">
            <h2>Marca</h2>
            <h2>{{object.marca|title}}</h2>
          </div>
          {% else %}
          <br>
          {% endif %}
          {% if object.cuota != None %}
          <div id="cuota">
            <h2>Cuotas</h2>
            <h2>{{object.cuota|title}}</h2>
          </div>
          {% else %}
          <br>
          {% endif %}
        </div>
        {% if object.ficha_tecnica.url != '' %}
          <div class="detalles">
            <div class="text">
              <h5> Ficha técnica </h5>
            </div>
    
            <div class="ficha_tenica">
              <img src="{% static 'images/icons/pdf_icon.svg' %}" alt="Icono de PDF" />
              <a href="{{object.ficha_tecnica.url}}" target="_blank"
                >{{ficha_tecnica|truncatechars:40}}</a
              >
            </div>
          </div>
          {% else %}
            <p></p>
        {% endif %}
        <div class="contact">
          <h3>¿Te ha interesado este producto?</h3>
          <h3>Completa el siguiente formulario para hacérnolo saber</h3>
          <button class="display_form" type="button">
              Completar formulario
          </button>
        </div>
      </aside>

      {% comment %} <div class="detalles">
        <p>{{object.especificaciones}}</p>
      </div> {% endcomment %}
    </div>
    <div class="form_modal">
      <form method="POST" id="form_fetch_post" name="form_fetch_post">
        <i class="close_form" id="icon_close">
          <img src="{% static 'images/icons/cancel.svg' %}" alt="">
        </i>
        <h3>INGRESA TUS DATOS</h3>
        {% csrf_token %}
        <input
          type="text"
          name="objetivo"
          id="objetivo"
          value=""
          autocomplete="off"
          readonly
        />
        <div class="nombre_completo_container">
          <input
            type="text"
            name="nombre_completo"
            id="nombre"
            placeholder="Nombre y apeliido"
            autocomplete="off"
            onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)|| (event.charCode == 241 || event.charCode == 209) || (event.charCode == 32)'
          />
          
        </div>
        <div class="num_telefono_container">
          <input
            type="text"
            name="num_telefono"
            id="numero"
            pattern="[0-9]*"
            placeholder="Telefono"
            autocomplete="off"
            onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
          />
        </div>

        <div class="email_container">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            autocomplete="off"
          />
          <p>Formato de email no valido</p>
        </div>

        <div class="provincia_container">
          <input 
          type= "text"
          name= "provincia"
          id= "provincia"
          placeholder= "Provincia"
          autocomplete= "off"
          />
        </div>

        <button type="button" id="form_product_button" class="desactive">
          Enviar
        </button>

        <button class="close_form" id="button_close" type="button">
          Cerrar
        </button>

        <div class="message_success hide">
          <h3>¡Tu formulario se ha enviado correctamente!</h3>
          <h4>Nos comunicaremos contigo mediante un correo</h4>
        </div>
        <div class="message_error hide">
          <h3>Algo ha salido mal</h3>
          <h4>Al parecer has colacado mal algun campo. Vuelve a intentarlo</h4>
          <figure class="image_error">
            <img src="{% static 'images/icons/eliminar.svg' %}" alt="pulgar_aprovado">
          </figure>
        </div>
      </form>
    </div>

    <script src="{% static 'js/detail_product.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    {% comment %} <script src="{% static 'js/elec_form_set_value.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/motos_form_set_value.js' %}"></script>
    <script src="{% static 'js/fetch_form_products.js' %}"></script>
    <script src="{% static 'js/validate_button_products.js' %}"></script>
    <script src="{% static 'js/menu_hamburguer.js' %}"></script>
  </body>
</html>
