{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/detail_moto.css' %}" />
    {% endcomment %}
    <!-- <link rel="stylesheet" href="{% static 'css/detail_soluciones.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/detail_soluciones2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/detalle_soluciones.css' %}"
    />
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icon_page4.png' %}"
    />
    <style>
      .global_whatsapp_float {
        display: none !important;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}

      <div class="wrapper">
        <!-- <div class="title_producto_responsive">
              <h1 id="title_product">Zanella Zb 110</h1>
              <h1 id="precio_product"> $100.000</h1>
          </div> -->

        {% comment %}
        <article class="monto_container">
          <img src="{% static 'images/icons/dollar.svg' %}" alt="" />
          <div class="monto_text">
            <h2>${{object.monto|floatformat:"0"|intcomma}}</h2>
            <!-- <h3>{{object.cuota}} Cuotas</h3> -->
          </div>
        </article>
        {% endcomment %}
        <aside class="resumen">
          <div class="contact">
            <h3>¿Te ha interesado este servicio?</h3>
            <a href="https://wa.me/543625170890?text=Hola!%0AMe%20interesa%20la%20Soluci%C3%B3n%20Dineraria%0A%0A%C2%BFMe%20podr%C3%ADan%20brindar%20m%C3%A1s%20informaci%C3%B3n%3F" target="_blank" class="whatsapp_btn_cta">
              <img src="{% static 'images/icons/whatsapp_icon.svg' %}" alt="WhatsApp" class="wa_icon_btn" />
              <span>Consultar por WhatsApp</span>
            </a>
          </div>
        </aside>
        <div class="message_success_wrapper">
          <div class="message_success hide">
            <h3>¡Tu formulario se ha enviado correctamente!</h3>
            <h4>Nos comunicaremos contigo mediante un correo</h4>
          </div>
          <button id="close_form_success">Cerrar</button>
        </div>
        <div class="message_error_wrapper">
            <div class="text_error">
              <h3>Algo ha salido mal</h3>
              <h4>Al parecer has colacado mal algun campo. Vuelve a intentarlo</h4>
            </div>
            <button id="close_form_error">Cerrar</button>
        </div>
      </div>


    <!-- <script src="{% static 'js/detail_product.js' %}"></script> -->
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/message_form.js' %}"></script>
    <script src="{% static 'js/fetch_form_soluciones.js' %}"></script>
    <script src="{% static 'js/validate_button_products.js' %}"></script>
    <script src="{% static 'js/menu_hamburguer.js' %}"></script>
  </body>
</html>
