:root {
  --slide-transform: 0;
  --transition: transform 1s;
  --slide-transform_moto: 0;
  --transition_moto: transform 1s;

  --bgColor: #12131b;
  --secondBgColor: #e8e8e8;
  --pColor: #212436;
  --sColor: #027cf1;
  --tColor: #02e3f5;
}
@font-face {
  font-family: babapro;
  src: url("../fonts/Babapro-Ea4rr.otf");
}

@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: raleway-bold;
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: raleway-semibold;
  src: url("../fonts/Raleway-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-feature-settings: "pnum" on, "lnum" on;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--secondBgColor);
  /* background-color: red !important; */
}

.logo__background {
  position: fixed;
  z-index: -1;
  width: 100%;
  transform: translate(0%, -30%);
}

.logo__background img {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.whatsapp_contact {
  display: flex;
  align-items: center;
  background-color: #40c351;
  width: 22rem;
  height: 4rem;
  outline: none;
  border-color: transparent;
  border-radius: 10px;
  position: fixed;
  z-index: 10;
  left: 3%;
  bottom: 4%;
  cursor: pointer;
}

.whatsapp_contact > .icon_whap {
  width: 40%;
  height: 100%;
}

.whatsapp_contact > h6 {
  font-family: raleway-semibold;
  font-size: 1.5rem;
}

.wrapper__slider__botones {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2%;
  justify-content: center;
}
.slider_cel
{
  display: none;
  transition: 1s all ease;
  height: 100%;
  margin-left: -100%;
}

.slider__element_cel
{
  font-size: 3rem;
  text-align: center;
  line-height: 300px;
  width: 100%;
}

.slider__element_cel img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.slider-container {
  width: 80%;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.slider-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
}

.slider {
  display: flex;
  transition: 1s all ease;
  height: 100%;
  margin-left: -100%;
}

.slider__element {
  font-size: 3rem;
  text-align: center;
  line-height: 300px;
  width: 100%;
}
.slider__element img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.button {
  background-color: #12131bd2;
  border: none;
  border-radius: 10%;
  width: 3.5rem;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.button > img {
  width: 70%;
  filter: invert(1);
}

#button-left:active,
#button-right:active {
  transform: scale(0.9);
}

/* ------------------------------------SECCION DE CATEGORIAS------------------------------------- */

.categoria {
  margin-bottom: 3rem;
}
.categoria > h2 {
  font-size: 3.8rem;
  font-family: raleway-bold;
  font-weight: 700;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  color: var(--bgColor);
}

.naccs {
  position: relative;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 68%;
  grid-column-gap: 2%;
  grid-template-areas: "menu detalle";
  /* overflow: hidden; */
}

.menu {
  grid-area: menu;
  border-radius: 30px;
  overflow: hidden;
  min-width: 250px;
}

.detalle {
  grid-area: detalle;
  position: relative;
  padding-bottom: 2rem;
}

.detalle > div {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img.active {
  display: block;
  position: absolute;
  -webkit-animation: fadeImg 5s;
  animation: fadeImg 5s;
  z-index: -1;
}

.detalle > div:not(.active) {
  left: -20%;
  transform: scale(0.7);
  opacity: 0;
  transition: all 1s ease;
}
.detalle > div.active {
  opacity: 1;
  left: 0;
  transition: all 1s ease;
  z-index: 2;
}

.detalle > div .text {
  width: 55%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.text h5 {
  text-align: center;
  color: #1a73e8;
  font-family: raleway-bold;
  font-size: 3rem;
  margin-bottom: 1.4rem;
  filter: drop-shadow(0px 0px 1px #6295d6);
}

.text p {
  text-align: center;
  color: var(--bgColor);
  font-family: raleway;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.5 ;
}

.text button {
  text-align: center;
  min-width: 120px;
  cursor: pointer;
  color: var(--bgColor);
  margin-top: 3rem;
  border-radius: 7px;
  border-color: var(--sColor);
  outline: none;
  background-color: #fff;
  font-family: raleway-semibold;
  padding: 0.7rem 2%;
}

.text button span {
  position: relative;
  z-index: 1;
}

.text button:hover {
  transition: all 0.2s ease;
  background-color: var(--sColor);
  border-color: transparent;
  box-shadow: 0px 0px 10px 3px #2a87e0c2;
}

.menu > div > img {
  width: 7rem;
  margin-left: 2rem;
}

.categoria .naccs .menu div.active > img {
  filter: brightness(100) grayscale(100%);
}

.menu > div > h6 {
  color: #fff;
  font-size: 1.4rem;
  font-family: raleway;
  font-weight: bolder;
  margin-left: 2rem;
  text-align: center;
}

.categoria .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 62px;
  color: #8d99af;
  background-color: #fff;
  margin-right: 15px;
}

.categoria .icon img {
  max-width: 27px;
}

.categoria .naccs .menu div.first-thumb {
  border-top-left-radius: 7px;
}

.categoria .naccs .menu div.last-thumb {
  margin-bottom: 0px;
  border-bottom-left-radius: 7px;
}

.categoria .naccs .menu div {
  display: flex;
  align-items: center;
  background-color: #212436;
  text-align: center;
  height: 120px;
  cursor: pointer;
  position: relative;
  transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.categoria .naccs .menu div.active,
.categoria .naccs .menu div.active .thumb {
  background-color: #077ae5;
}

.categoria ul.nacc {
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.categoria ul.nacc li {
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.categoria ul.nacc li.active {
  transition-delay: 0.3s;
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

.categoria ul.nacc li {
  width: 100%;
}

.categoria .nacc .thumb .left-text {
  margin-left: 30px;
}

.categoria .nacc .thumb .left-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 30px;
}

.categoria .nacc .thumb .left-text p {
  color: #fff;
  margin-bottom: 30px;
}

.categoria .nacc .thumb .right-image {
  padding: 60px;
  display: inline-flex;
}

.categoria .nacc .thumb img {
  border-radius: 7px;
}

.categoria .nacc .thumb .left-text .main-white-button a {
  width: 100%;
  text-align: center;
}

/* ------------------------------------SLIDER DE MOTOS------------------------------------- */
.container_sliderMotos_buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 40%;
}

.container_slider_motos {
  width: 80%;
  /* height: 180px; */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.slider__motos {
  display: flex;
  transform: translateX(var(--slide-transform_moto));
  transition: var(--transition_moto);
}
.slider__motos .item {
  position: relative;
  display: flex;
  align-items: center;
}

.item--hover {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(2, 124, 241, 0.15255609079569332) 0%,
    rgba(2, 124, 241, 0.2) 51%,
    rgba(2, 124, 241, 0.8) 100%
  );
  position: absolute;
  bottom: 100%;
  opacity: 0.7;
  z-index: -1;
  border-radius: 50%;
  opacity: 0;
}

.item--circle {
  width: 70%;
  height: 80%;
  background: var(--sColor);
  position: absolute;
  opacity: 0.7;
  z-index: -1;
  border-radius: 50%;
  top: 10%;
  left: 18%;
}

.item--detail {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  opacity: 0;
}

.item--detail > h2 {
  font-size: 1.9rem;
  font-family: raleway-bold;
  margin-bottom: 3px;
  color: var(--sColor);
}
.item--detail > h3 {
  font-size: 1.4rem;
  font-family: raleway-bold;
}

.slider__motos .item img {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.slider__motos__nav {
  position: absolute;
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.slider__motos__nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.slider__motos__nav button > img {
  /* filter: invert(1); */
  width: 2.3rem;
  height: 2.3rem;
  filter: opacity(.8);
}

.btn-prev {
  transform: rotate(180deg);
}

.list {
  height: 200px;
  width: 500%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.list li {
  list-style-type: none;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  opacity: 0.25;
  border-radius: 2px;
  background: #9c89b8;
  transition: transform 1s, opacity 1s;
}

.wrapper_adjudicado {
  position: fixed;
  bottom: 2rem;
  z-index: 20;
  right: 4rem;
  overflow: hidden;
  border-radius: 10px;
  width: 26rem;
}
.wrapper_adjudicado > button {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 2%);
  outline: none;
  border-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapper_adjudicado > button > img {
  width: 70%;
  filter:invert(1);
}
#back {
  top: 39%;
  transform: rotate(180deg);
  left: 0.4rem;
}
#forward
{
  right: 0.4rem;
  top: 39%;
}
.slider_adjudicado {
  display: flex;
  height: 100%;
  position: relative;
  transition: 1s all ease;
  margin-left: -100%;
}
.item_adjudicado2 {
  width: 100%;
  padding: 1rem 4rem;
  background-color: #212436;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: raleway-bold;
  /* margin: 0 2rem; */
}
.item_adjudicado2 h1 {
  font-size: 4rem;
  font-family: raleway-bold;
  color: #077ae5;
}
.item_adjudicado2 h2 {
  font-size: 2.5rem;
  font-family: raleway-bold;
  color: white;
}
.item_adjudicado2 h3 {
  font-size: 1.8rem;
  font-family: raleway-bold;
  color: white;
}

/* ------------------------------------END SLIDER DE MOTOS------------------------------------- */

/* ------------------------------------SLIDER DE MARCAS------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 18s);
}

.item_adjudicado {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #eff6fa;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: raleway-bold;
  margin: 0 2rem;
}

.item_adjudicado h1 {
  font-size: 3.5rem;
  font-family: raleway-bold;
  color: #077ae5;
}
.item_adjudicado h2 {
  font-size: 2.5rem;
  font-family: raleway-bold;
  color: black;
}
.item_adjudicado h3 {
  font-size: 1.8rem;
  font-family: raleway-bold;
  color: black;
}

.marcas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: #111;
}
.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #212436de;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 1.5rem;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 63%;
}

#marcar_honda img {
  width: 32%;
}

#marcar_lg img {
  width: 43%;
}

/* ------------------------------------SECCION DE FORMULARIO------------------------------------- */
.formulario {
  height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.style__palabra__eslogan {
  color: var(--sColor);
}

.barra {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(33, 36, 54, 1) 0%,
    rgba(33, 36, 54, 1) 20%,
    rgb(27, 36, 88) 100%
  );
  height: 20rem;
  z-index: -1;
}

.formulario__eslogan {
  position: relative;
  font-family: babapro;
  font-size: 3.6rem;
  width: 40%;
  max-width: 550px;
  text-align: center;
  color: #eee;
}

.formulario h5 {
  /* width: 20%; */
  font-family: raleway-semibold;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.formulario form {
  background-color: var(--secondBgColor);
  margin-right: 1rem;
  min-width: 300px;
  box-shadow: 0px 0px 20px 2px #027cf130;
  /* min-height: 25rem; */
  padding: 4rem;
  border-radius: 6px;
  max-width: 600px;
  border-color: transparent;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
  row-gap: 1.3rem;
  width: 50%;
}

.formulario form > div
{
  position: relative;
  padding: 0.3rem 0;
  /* overflow: hidden; */


}


.formulario form > div > input {
  font-weight: 600;
  font-size: 1.6rem;
  border-color: transparent;

  font-family: raleway;
  outline: none;
  /* padding: .8rem; */
  height: 3.4rem;
  padding-left: 1.5rem;
  width: calc(100% - 1.5rem);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #23252647;
}


.container_objetivo,.container_email {
  min-width: 100%;
}



.container_nombre_completo,.container_num_telefono,
.container_provincia,.container_localidad {
  min-width: 48%;
}


.formulario form #email.invalid
{
  border: 1px red solid;
}
.formulario form #email.invalid ~ p{
  display: inline;
}

.formulario form > div > p
{
  display: none;
  position: absolute;
  font-family:raleway;
  font-size: 1.2rem;
  color: red;
  bottom: -1.3rem;
  left: .4rem;
}

.formulario form #form_product_button {
  grid-area: form_product_button;
  border-color: transparent;
  width: 30%;
  font-weight: 600;
  background-color: #1c2457;
  font-size: 1.7rem;
  color: #ece7e7;
  cursor: pointer;
  padding: .7rem 0;
  border-radius: 8px;
}
.formulario form #form_product_button.desactive {
  background-color: #111842bd;
  pointer-events: none;
}
.formulario form #form_product_button:hover {
  transition: all 0.4s ease;
  background-color: #fff;
  color: #12131b;
  box-shadow: 0px 0px 20px 2px #027cf130;
  border-color: #027df15d;
}

.form_success_wrapper
{
  position: fixed;
  top: 0;
  right: 0%;
  z-index: 20;
  height: 100vh;
  width: 100%;
  background-color: #212436a1;
  transition: 0.4s all ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}


.form_success {
  background-color: #212436;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.form_success_wrapper.active {
  opacity: 1;
  pointer-events: all;
}
.form_success > .text_thanks {
  width: 90%;
  text-align: center;
}
.text_thanks > h3 {
  font-size: 1.6rem;
  font-family: raleway-bold;
  color: #077ae5;
  margin-bottom: 1rem;
}
.text_thanks > h4 {
  font-size: 1.5rem;
  width: 90%;
  font-family: raleway-semibold;
  color: white;
  margin: 0 auto;
}
.image_success {
  width: fit-content;
  margin: 0 auto;
}
.image_success > img {
  filter: invert(1);
}

#close_form_success {
  text-align: center;
  min-width: 120px;
  cursor: pointer;
  color: var(--bgColor);
  margin-top: 1rem;
  border-radius: 7px;
  border-color: var(--sColor);
  outline: none;
  background-color: #fff;
  font-family: raleway-semibold;
  padding: 0.7rem 2%;
}

.form_error_wrapper
{
  position: fixed;
  top: 0;
  right: 0%;
  z-index: 20;
  height: 100vh;
  width: 100%;
  background-color: #212436a1;
  transition: 0.4s all ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.form_error {
  background-color: #fcf9f9;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border: 1px solid red;
  box-shadow: 0px 0px 15px 0px #df5151;
}
.form_error_wrapper.active {
  opacity: 1;
  pointer-events: all;
}
.form_error > .text_error {
  width: 90%;
  text-align: center;
}
.text_error > h3 {
  font-size: 1.6rem;
  font-family: raleway-bold;
  color: #f70909;
  margin-bottom: 1rem;
}
.text_error > h4 {
  font-size: 1.5rem;
  width: 90%;
  font-family: raleway-semibold;
  color: black;
  margin: 0 auto;
}
#close_form_error
{
  text-align: center;
  min-width: 120px;
  cursor: pointer;
  color: var(--bgColor);
  margin-top: 1rem;
  border-radius: 7px;
  border-color: red;
  outline: none;
  background-color: #fff;
  font-family: raleway-semibold;
  padding: 0.7rem 2%;
}


.formulario form > div > input::placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  border-color: #12131b37;
  font-family: raleway;
}
.formulario form > div > input:focus  {
  border: solid 1px var(--sColor);
}

/* --------------------------------------SECCION DE UBICACION-------------------------------------- */
.ubicacion {
  width: 100%;
  height: 600px;
  background-color: #12131bcf;
  position: relative;
  display: flex;
  align-items: center;
}

.ubicacion__direccion {
  position: absolute;
  top: 0;
  font-size: 2vw;
  font-family: raleway;
  color: var(--bgColor);
  transition: all 1.6s ease;
  transform: translateX(-100rem);
}

.ubicacion__direccion h1 {
  font-size: 2.6rem;
  font-family: raleway-bold;
  color: var(--secondBgColor);
}

.ubicacion__direccion h4 {
  color: var(--sColor);
  font-feature-settings: "pnum" on, "lnum" on;
  font-family: raleway-bold;
  font-size: 2.4rem;
}

#mapa__container {
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5%;
  width: 62%;
}

.wrapper_ubicacion {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.mapa {
  border-radius: 8px;
  max-height: 280px;
  max-width: 400px;
  transform: translateX(-100rem);
  transition: all 1.6s ease;
  position: absolute;
  bottom: 24%;
  width: 100%;
  height: 100%;
}

.mapa.active_provincia {
  opacity: 1;
  transform: translateX(0);
}
.ubicacion__direccion.active_provincia {
  opacity: 1;
  transform: translateX(0);
}

.locales {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
}

.locales button {
  height: 35px;
  padding: 1% 4%;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: raleway;
  cursor: pointer;
}

.locales > h4 {
  font-size: 2rem;
  font-weight: 700;
  font-family: raleway;
  margin-bottom: 1rem;
  color: var(--secondBgColor);
}

button.active_ubication {
  background-color: var(--sColor);
}

.ubicacion__text {
  max-width: 300px;
  font-family: raleway;
  margin-left: 5%;
  display: flex;
  flex-flow: column;
  color: var(--secondBgColor);
}

.ubicacion__text #ubicacion__text__title {
  font-size: 2rem;
  font-family: raleway-bold;
  color: var(--secondBgColor);
}

.ubicacion__text #ubicacion__horarios {
  margin-top: 1.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-feature-settings: "pnum" on, "lnum" on;
}

#ubicacion__horarios .horarios-decoration {
  font-size: 1.8rem;
  display: block;
  color: var(--sColor);
  margin-top: 1.3rem;
  font-family: raleway-semibold;
}

.ubicacion__redes {
  width: 38%;
  display: flex;
  flex-flow: column;
  height: 70%;
  margin-left: 2rem;
}

.ubicacion__redes__text {
  font-size: 1.6rem;
  font-family: raleway;
  color: var(--secondBgColor);
}

.ubicacion__redes__text h6 {
  font-size: 1.4rem;
  font-family: raleway;
  font-weight: 500;
  margin-top: 1rem;
}

.wrapper__icons__social ol {
  display: flex;
  width: 50%;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 180px;
}

.wrapper__icons__social ol li {
  width: 8vw;
  height: 8vw;
  margin-top: 3rem;
  max-height: 80px;
  max-width: 80px;
  background-color: #8d99af;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__icons__social ol li a {
  width: 80%;
  height: 80%;
}

.wrapper__icons__social ol li a img {
  width: 100%;
  height: 100%;
}

li#ubicacion__whatsapp p {
  position: absolute;
  left: 110%;
  width: 15vw;
  top: 40%;
  font-weight: 600;
  font-size: 1vw;
  font-family: raleway;
}

li#ubicacion__whatsapp {
  background-color: #40c351;
  border-radius: 5px;
}
li#ubicacion__facebook {
  background-color: #039be5;
  border-radius: 5px;
}
li#ubicacion__facebook a img {
  width: 100%;
  height: 90%;
}

li#ubicacion__twitter {
  background-color: #fff;
  border-radius: 5px;
}
li#ubicacion__instagram {
  background-color: #d81b60;
  border-radius: 5px;
}

/* ----------------- FOOTER -----------------*/

footer {
  display: grid;
  height: 24rem;
  width: 100%;
  background-color: var(--bgColor);
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr;
  align-items: center;
}

.footer__contactanos {
  font-family: raleway;
  font-feature-settings: "pnum" on, "lnum" on;
  height: fit-content;
}
.footer__contactanos h3 {
  font-size: 1.6rem;
  position: relative;
  color: var(--secondBgColor);
}
.footer__contactanos h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4%;
  width: 3px;
  height: 2rem;
  background-color: var(--sColor);
}

.footer__contactanos ul {
  list-style: none;
  margin-top: 1.2rem;
  padding-left: 0.1rem;
}
.footer__contactanos ul li {
  display: flex;
  margin-bottom: 0.9rem;
  align-items: center;
}

.footer__contactanos ul li > img {
  width: 1.7rem;
  margin-right: 0.6rem;
}

.footer__contactanos ul li p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondBgColor);
}

.footer__categorias {
  font-family: raleway;
  font-feature-settings: "pnum" on, "lnum" on;
  height: fit-content;
}

.footer__categorias ul {
  list-style: none;
}
.footer__categorias ul li {
  margin-bottom: 0.9rem;
}
.footer__categorias ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondBgColor);
  text-decoration: none;
}

.footer__quienes-somos {
  font-family: raleway;
  font-feature-settings: "pnum" on, "lnum" on;
  height: fit-content;
}

.footer__quienes-somos h3 {
  font-size: 1.6rem;
  position: relative;
  color: var(--secondBgColor);
}
.footer__quienes-somos h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4%;
  width: 3px;
  height: 2rem;
  background-color: var(--sColor);
}

.footer__quienes-somos ul {
  list-style: none;
  margin-top: 1rem;
}

.footer__quienes-somos ul li {
  margin-bottom: 0.9rem;
}
.footer__quienes-somos ul li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondBgColor);
  text-decoration: none;
}

.footer__encuentranos {
  font-family: raleway;
  font-feature-settings: "pnum" on, "lnum" on;
  height: fit-content;
  margin-left: 9%;
}

.footer__encuentranos h3 {
  font-size: 1.6rem;
  position: relative;
  color: var(--secondBgColor);
}
.footer__encuentranos h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4%;
  width: 3px;
  height: 2rem;
  background-color: var(--sColor);
}

.footer__encuentranos ul {
  list-style: none;
  margin-top: 1rem;
}

.footer__social-media {
  display: flex;
}

.footer__social-media a {
  width: 2.3rem;
  margin-right: 4%;
}

.footer__social-media a img {
  width: 100%;
}

.footer__encuentranos ul .footer__direccion p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
  color: var(--secondBgColor);
}
.footer__encuentranos ul .footer__direccion p strong {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondBgColor);
}

.footer__logo {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-right: 6%;
}

.footer__logo img {
  width: 80%;
}

/* MODAL WHATSAPP */

.modal_whatsapp_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111111bd;
  z-index: 10;
  top: 65px;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s all ease;
}
.modal_whatsapp_container.active_modal {
  opacity: 1;
  pointer-events: unset;
}

.wrapper_windown_whatsapp {
  position: relative;
  height: 70%;
  width: 35%;
  margin: 0 auto;
  top: -100%;
  transition: 0.4s all ease;
  z-index: 10;
}
.wrapper_windown_whatsapp.active_modal {
  top: 10%;
}

.window_whatsapp {
  height: 100%;
  width: 100%;
  background-color: white;
  border: #027cf1 2px solid;
  box-shadow: 0px 0px 20px 2px #027cf130;
  margin: auto;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 10px;
  overflow-y: auto;
}
.window_whatsapp > .contacto {
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-bottom: 1px rgba(0, 0, 0, 0.437) solid;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #33333430;
  height: auto;
  border-radius: 8px;
}
.window_whatsapp > .contacto:first-child {
  margin-top: 4rem;
}

.contacto > h2 {
  font-size: 2rem;
  font-family: raleway-bold;
  color: var(--sColor);
  padding: 1rem 0;
  padding-left: 2rem;
  cursor: pointer;
}
.contacto > .numbers {
  font-size: 1.3rem;
  font-family: raleway;
  font-feature-settings: "pnum" on, "lnum" on;
  /* margin-top: 1rem; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.contacto > .numbers > p {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#close_modal {
  border-color: transparent;
  width: 30%;
  font-weight: 600;
  background-color: #1c2457;
  font-size: 1.7rem;
  color: #ece7e7;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 4rem;
  height: 3.4rem;
  min-height: 3.4rem;
  border-radius: 10px;
  min-width: 105px;
}
