@media screen and (max-width: 870px){
    .container_text > h1{
        font-size: 3rem;
    }
    .container_text > h2{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 770px){
    main
    {
        flex-flow: column-reverse;
        /* height: auto; */
        align-items: center;
        justify-content: start;
    }
    .image_error
    {
        margin-top: 6rem;
    }
    
    .image_error > figure > img
    {
        width: 34%;
        height: auto;
    }
    .text_error
    {
        width: auto;
    }
    .text_error .container_text
    {
        text-align: center;
    }

    .button_redirect
    {
        margin: 0 auto;
    }
}