@media screen and (max-width: 991px) {
  .beneficios__wrapper {
    flex-direction: column-reverse;
    height: auto;
    padding: 4rem 2rem;
    align-items: center;
  }
  .image_tenico {
    width: 60%;
    margin-left: 0;
    margin-top: 3rem;
  }
  .portada_description {
    width: 100%;
    margin-left: 0;
  }
  .background_tittle {
    max-width: 500px;
    margin: 0 auto 2rem auto;
  }

  .beneficios__table {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .beneficios__table__item {
    width: 90%;
    max-width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .container_text3 {
    flex-direction: column;
    max-height: none;
    padding: 4rem 2rem;
    gap: 3rem;
  }
  .container_text3 > div {
    width: 100%;
    margin-left: 0 !important;
    text-align: center;
  }
  .background_text {
    border-radius: 10px;
  }

  .portada_description h1 {
    font-size: 3.5rem;
  }
  .portada_description h3 {
    font-size: 1.5rem;
    width: 100%;
  }
  
  .image_tenico {
    width: 80%;
  }
}