@media screen and (max-width: 900px) {
    html, body {
        overflow: auto; /* Allow scroll if mobile device layout gets very small */
    }
    .wrapper_comunicate {
        height: auto;
        min-height: calc(100vh - 65px);
        overflow: visible;
        padding: 0rem 1.5rem;
    }
    .contactanos {
        height: auto;
        overflow: visible;
    }
    .contactanos__container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 2rem;
        height: auto;
        overflow: visible;
    }
    .branches__selector {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1rem;
        padding-right: 0;
    }
    .branch__tab {
        padding: 1.2rem 1.8rem;
        font-size: 1.4rem;
    }
    .contactanos__container .locales > .local {
        height: auto;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 620px) {
    .secciones ol {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

