@media screen and (max-width:580px){
    footer > div{
        flex: 1 0 100%;
        text-align: center;
    }
    footer > div > h3::after{
        display: none;
    }

    .footer__social-media {
        justify-content: center;
    }

    .footer__contactanos > ul > .footer__contactanos-item > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

