@media screen and (max-width:950px) {
    .items__menu a{
        font-size: 1.5rem;
    }
    .items__menu img{
        height: 1.8rem;
        width: 1.8rem;
    }
    .items a{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:750px){

    .items__menu a{
        font-size: 1.4rem;
    }
    .items__menu img{
        height: 1.7rem;
        width: 1.7rem;
    }
    .items a{
        font-size: 1.4rem;
    }
}

@media screen and (max-width:650px){
    .header__nav > ol{
        justify-content: space-between;
    }
    .menu_categoria{
        display: none;
    }
    
    .header__nav > ol > label{
        display: flex;
        z-index: 5;
    }
    .nav__items{
        position:fixed;
        height: 100vh;
        bottom: 100%;
        z-index: 3;
        width: 100%;
        margin: 0;
        background-color: rgba(33, 36, 54, 0.97);
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .items a{
        font-family: raleway;
        font-weight: 700;
        text-decoration: none;
        font-size: 3rem;
        color:#fff;
        position:relative;
        height: fit-content;
        top: 0%;
    }
    
    .items{
        margin: 12% 0;
    }
    
    .items__menu a{
        font-family: raleway;
        font-weight: 700;
        text-decoration: none;
        font-size: 3rem;
        color:#fff;
        position: relative;
        height: fit-content;
        top: 0%;
    }
    .items__menu{
        margin: 12% 0;
    }
}