@media screen and (max-width: 991px) {
  .sobrenosotros__valores-estrategia {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__card {
    padding: 3rem 2rem;
  }
  .hero__card h1 {
    font-size: 3.5rem;
  }
  .hero__card p {
    font-size: 1.5rem;
  }

  .section__title-main {
    font-size: 3rem;
  }

  .sistema__grid {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .sobrenosotros__filosofia {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding-bottom: 5rem;
  }

  .sobrenosotros__sistema {
    padding: 6rem 0;
  }

  .sobrenosotros__valores-estrategia {
    padding: 6rem 0;
  }
}