@media screen and (max-width: 930px) {
  .trabaja_con_nosotros {
    flex-direction: column;
    height: auto;
    padding: 6rem 2rem;
    gap: 4rem;
  }

  .trabaja__texto {
    width: 100%;
    text-align: center;
  }

  .trabaja__title h1 {
    font-size: 5rem;
  }

  .formulario-wrapper {
    width: 100%;
    justify-content: center;
  }

  .formulario-wrapper form {
    max-width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .inputs_container {
    flex-direction: column;
    gap: 2rem;
  }

  .inputs_texts {
    width: 100%;
  }

  .cv_field {
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--borderColor);
    padding-left: 0;
    padding-top: 3rem;
  }

  .cv_field label {
    margin: 0 auto 1.5rem auto;
  }
}