{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contactanos.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_querys/footer.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="header__nav">
          <ol>
            <a class="logo_container"href="{% url 'index' %}">
              <img src="{% static 'images/icons/icono_header_blanco_arreglado.png' %}" alt="" class="logo">
            </a>
            <label for="check">
              <input type="checkbox" id="check"/> 
              <span></span>
              <span></span>
              <span></span>
            </label>
            
            <div class="nav__items">
              <li class="items__menu">
                  <a href="{% url 'market:categorias' %}">Categorias</a>
                  <img src="{% static 'images/icons8-flecha-ampliar-24.png' %}" alt=""> 
                  <ul class="menu_categoria">
                      <li>
                        <a href="{% url 'market:motos' %}">Motos</a>
                      </li>
                      <li>
                        <a href="{% url 'market:soluciones_dinerarias' %}">Soluciones dinerias</a>
                      </li>
                      <li>
                        <a href="{% url 'market:electrodomesticos' %}">Electrodomesticos</a>
                      </li>
                      <li>
                        <a href="{% url 'market:beneficios' %}">Beneficios para clientes</a>
                      </li>
                      <li>
                        <a href="/templates_categorias/categoria_usado.html">Usados</a>
                      </li>
                  </ul>
              </li>
              <li class="items">
                  <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
              </li>
              <li class="items">
                  <a href="{% url 'market:trabaja' %}">Trabaja con nosotros</a>
              </li>
              <li class="items">
                  <a href="contactanos.html">Contactanos</a>
              </li>
            </div>
          </ol>
        </nav>
    </header>
    <div class="espace_header_categories"></div>
    <section class="wrapper_comunicate">
        <article class="contactanos">
            <h1>Comunicate</h1>
            <div class="resistencia">
                <h1>Resistencia Chaco</h1>
                <figure class="resistencia__image">
                    <img src="" alt="">
                </figure>
                <div class="secciones">
                    <ol>
                        <li class="sector">
                            <h3>Ventas</h3>
                            <div class="sector_info">
                                <h5 class="number_phone">21389012</h5>
                                <h5 class="correo">agenciachacoelanel@gmail.com</h5>
                            </div>
                        </li>
                        <li class="sector">
                            <h3>Administracion</h3>
                            <div class="sector_info">
                                <h5 class="number_phone">21389012</h5>
                                <h5 class="correo">agenciachacoelanel@gmail.com</h5>
                            </div>
                        </li>
                        <li class="sector">
                            <h3>Cobranzas</h3>
                            <div class="sector_info">
                                <h5 class="number_phone">21389012</h5>
                                <h5 class="correo">agenciachacoelanel@gmail.com</h5>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="corrientes">
                <h1>Corrientes Capital</h1>
                <figure class="corrientes__image">
                    <img src="" alt="">
                </figure>
                <div class="secciones">
                    <ol>
                        <li class="sector">
                            <h3>Ventas</h3>
                            <div class="sector_info">
                                <h5 class="number_phone">21389012</h5>
                                <h5 class="correo">agenciachacoelanel@gmail.com</h5>
                            </div>
                        </li>
                        <li class="sector">
                            <h3>Administracion</h3>
                            <div class="sector_info">
                                <h5 class="number_phone">21389012</h5>
                                <h5 class="correo">agenciachacoelanel@gmail.com</h5>
                            </div>
                        </li>
                        <li class="sector">
                            <h3>Cobranzas</h3>
                            <div class="sector_info">
                                <h5 class="number_phone">21389012</h5>
                                <h5 class="correo">agenciachacoelanel@gmail.com</h5>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </article>
        <article class="preguntas_frecuentes">
            <h1>Preguntas Frecuentes</h1>
            <ul>
                <li class="question">
                    <h2>Pregunta 1</h2>
                    <p class="texts">Lorem ipsum dolor sit amet,    consectetur adipisicing elit. Quisquam debitis quae quidem voluptatibus ut dolore molestiae atque cumque, iste deleniti aliquid quasi dignissimos totam facilis voluptate reiciatibus ut dolore molestiae atque cumque, iste deleniti aliquid quasi dignissimos totam facilis voluptate reiciendis. Nam, iste odio..
                    sicing elit. Quisquam debitis quae quidem voluptatibu.
                    </p>
                </li>
                <li class="question">
                    <h2>Pregunta 2</h2>
                    <div class="texts">
                        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis quae quidem voluptatibus ut dolore molestiae atque cumque, iste deleniti aliquid quasi dignissimos totam facilis voluptate reiciendis. Nam, iste odio..</p>
                    </div>
                </li>
                <li class="question">
                    <h2>Pregunta 3</h2>
                    <div class="texts">
                        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis quae quidem voluptatibus ut dolore molestiae atque cumque, iste deleniti aliquid quasi dignissimos totam facilis voluptate reiciendis. Nam, iste odio..</p>
                    </div>
                </li>
                <li class="question">
                    <h2>Pregunta 4</h2>
                    <div class="texts">
                        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis quae quidem voluptatibus ut dolore molestiae atque cumque, iste deleniti aliquid quasi dignissimos totam facilis voluptate reiciendis. Nam, iste odio..</p>
                    </div>
                </li>
            </ul>
        </article>
    </section>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/preguntas_frecuentes.js' %}"></script>
</body>
</html>