{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contactanos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/contactanos.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/footer.css' %}" />
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icon_page4.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}

    <section class="wrapper_comunicate">
      <article class="contactanos">
        <h1>Comunicate</h1>
        
        <div class="resistencia">
          <div class="text_provincia_container">
            <h1>Casa Central</h1>
          </div>
          <!-- <figure class="resistencia__image">
            <img src="{% static 'images/' %}" alt="" />
          </figure> -->
          <div class="secciones">
            <ol>
              
              <li class="sector">
                <h3>Administracion</h3>
                <div class="sector_info">
                  <h5 class="number_phone">3625170890</h5>
                  <h5 class="correo">atencionaclientes@elanelsys.com</h5>
                </div>
              </li>
              <li class="sector">
                <h3>Ventas</h3>
                <div class="sector_info">
                  <h5 class="correo">ventas@elanelsys.com</h5>
                </div>
              </li>
              <li class="sector">
                <h3>Cobranzas</h3>
                <div class="sector_info">
                  {% comment %} <h5 class="number_phone">21389012</h5> {% endcomment %}
                  <h5 class="correo">cobranzas@elanelsys.com</h5>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </article>
     {% comment %} <article class="preguntas_frecuentes">
        <h1>Preguntas Frecuentes</h1>
        <ul>
          <li class="question">
            <h2>Pregunta 1</h2>
            <p class="texts">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
              debitis quae quidem voluptatibus ut dolore molestiae atque cumque,
              iste deleniti aliquid quasi dignissimos totam facilis voluptate
              reiciatibus ut dolore molestiae atque cumque, iste deleniti
              aliquid quasi dignissimos totam facilis voluptate reiciendis. Nam,
              iste odio.. sicing elit. Quisquam debitis quae quidem voluptatibu.
            </p>
          </li>
          <li class="question">
            <h2>Pregunta 2</h2>
            <div class="texts">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quisquam debitis quae quidem voluptatibus ut dolore molestiae
                atque cumque, iste deleniti aliquid quasi dignissimos totam
                facilis voluptate reiciendis. Nam, iste odio..
              </p>
            </div>
          </li>
          <li class="question">
            <h2>Pregunta 3</h2>
            <div class="texts">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quisquam debitis quae quidem voluptatibus ut dolore molestiae
                atque cumque, iste deleniti aliquid quasi dignissimos totam
                facilis voluptate reiciendis. Nam, iste odio..
              </p>
            </div>
          </li>
          <li class="question">
            <h2>Pregunta 4</h2>
            <div class="texts">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quisquam debitis quae quidem voluptatibus ut dolore molestiae
                atque cumque, iste deleniti aliquid quasi dignissimos totam
                facilis voluptate reiciendis. Nam, iste odio..
              </p>
            </div>
          </li>
        </ul>
      </article>{% endcomment %}
    </section>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/preguntas_frecuentes.js' %}"></script>
    <script src="{% static 'js/menu_hamburguer.js' %}"></script>  
  </body>
</html>
