{% load static %}
<footer>

        <div class="footer__encuentranos">
          <h3>Encuentranos</h3>
          <ul>
            <li class="footer__direccion"> 
              <p><strong>Corrientes:</strong> 9 de Julio 1687 Local 2</p>
              <p><strong>Resistencia:</strong> Obligado 841 Local B</p>
            </li>
            <li class="footer__social-media"> 
              <a href="https://m.facebook.com/elanelsys" target=”_blank”>
                <img src="{% static 'images/icons/social_face.png' %}" alt="">
              </a>
              <a href="https://www.instagram.com/elanel.servicios/?hl=es-la" target=”_blank”>
                <img src="{% static 'images/icons/social_insta.png' %}" alt="">
              </a>
              <a href="https://www.tiktok.com/@elaneloficial" target=”_blank”>
                <img src="{% static 'images/icons/tiktok_icon.svg' %}" alt="">
              </a>
              <a href="whatsapp.com" target=”_blank”>
                <img src="{% static 'images/icons/social_whatsapp.png' %}" alt="">
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__categorias">
          <ul>
            <li class="footer__motos"> 
              <a href="{% url 'market:motos' %}">Motos</a>
            </li>
            <li class="footer__soluciones-dinerarias"> 
              <a href="{% url 'market:soluciones_dinerarias' %}">Soluciones Dinerarias</a>
            </li>
            <li class="footer__electrodomesticos"> 
              <a href="{% url 'market:electrodomesticos' %}">Electrodomesticos</a>
            </li>
            <li class="footer__beneficios-para-cliente"> 
              <a href="{% url 'market:beneficios' %}">Beneficios para cliente</a>
            </li>
          </ul>
        </div>

        <div class="footer__quienes-somos">
          <h3>Quienes Somos</h3>
          <ul>
            <li class="footer__mision"> 
              <a href="{% url 'nosotros' %}">Mision</a>
            </li>
            <li class="footer__vision"> 
              <a href="{% url 'nosotros' %}">Vision</a>
            </li>
            <li class="footer__vision"> 
              <a href="{% url 'privacidad' %}">Politicas de privacidad</a>
            </li>
          </ul>
        </div>

        <div class="footer__contactanos">
          <h3>Contactanos</h3>
          <ul>
            <li class="footer__contactanos-item">
              <h5>Resistencia, Chaco</h5>
              <div class="info">
                <div class="tel">
                  <img src="{% static 'images/icons/social_tel.png' %}" alt="">
                  <p>362 524-5484</p> 
                </div>
                <div class="email">
                  <img src="{% static 'images/icons/social_mail.png' %}" alt="">
                  <p>agenciachaco@elanelsys.com	</p>
                </div>
              </div>
            </li>

            <li class="footer__contactanos-item">
              <h5>Corrientes Capital</h5>
              <div class="info">
                <div class="tel">
                  <img src="{% static 'images/icons/social_tel.png' %}" alt="">
                  <p>3795 16-1905</p> 
                </div>
                <div class="email">
                  <img src="{% static 'images/icons/social_mail.png' %}" alt="">
                  <p>agenciacorrientes@elanelsys.com</p>
                </div>
              </div>
            </li>

            <li class="footer__contactanos-item">
              <h5>Saenz Peña, Chaco</h5>
              <div class="info">
                <div class="tel">
                  <img src="{% static 'images/icons/social_tel.png' %}" alt="">
                  <p>364 491-4025</p> 
                </div>
                <div class="email">
                  <img src="{% static 'images/icons/social_mail.png' %}" alt="">
                  <p>agenciasaenzpenia@elanelsys.com</p>
                </div>
              </div>
            </li>

            <li class="footer__contactanos-item">
              <h5>Posadas, Misiones</h5>
              <div class="info">
                <div class="tel">
                  <img src="{% static 'images/icons/social_tel.png' %}" alt="">
                  <p>3765 10-4719</p> 
                </div>
                <div class="email">
                  <img src="{% static 'images/icons/social_mail.png' %}" alt="">
                  <p>agenciaposadas@elanelsys.com</p>
                </div>
              </div>
            </li>

            <li class="footer__contactanos-item">
              <h5>Goya, Corrientes</h5>
              <div class="info">
                <div class="email">
                  <img src="{% static 'images/icons/social_mail.png' %}" alt="">
                  <p>agenciagoya@elanelsys.com	</p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="footer__logo">
            <img src="{% static 'images/icons/icono_arreglado_blanco.png' %}" alt="">
        </div>

</footer>