{% load static %}
<html>
    <body style="text-align: center; ">
        
        <h1 style="font-size: 30px;">{{target}}</h1>
        <h2><strong style="color: #027cf1;">La persona</strong>  <br>{{person}}</h2>
        <h2><strong style="color: #027cf1;">Es de:</strong>  <br>{{provincia}}</h2>
        <h2><strong style="color: #027cf1;">Su numero de telefono es:</strong> <br>{{num_tel}}</h2>
        <h2><strong style="color: #027cf1;">Su correo es:</strong> <br>{{correo}}</h2>
    </body>
</html>

