<header class="header-area header-sticky">
    <nav class="main-nav">
        <a href="" class="logo"> ELANEL</a>
        <ul class="menu">
            <li class="has-sub">
                <a href="#">Categorias</a>
                <ul class="sub-menu">
                    <li><a href="{% url 'market:motos' %}">Motos</a></li>
                    <li><a href="{%url 'market:soluciones_dinerarias'%}">Soluciones dinerarias</a></li>
                    <li><a href="{%url 'market:electrodomesticos'%}">Electrodemesticos</a></li>
                    {% comment %} <li><a href="">Usados</a></li> {% endcomment %}
                    <li><a href="{%url 'market:beneficios'%}">Beneficios para clientes</a></li>
                </ul>
            </li>
            <li class="scroll-to-section"><a href="" class="active">Sobre nosotros</a></li>
            <li><a href="">Entregas</a></li>
            <li class="scroll-to-section"><a href="">Contactanos</a></li> 
            <li class="scroll-to-section"><a href="">Unete a nosotros</a></li> 
        </ul>        
    </nav>
    
</header>

