<header class="header-area header-sticky">
    <nav class="main-nav">
        <a href="" class="logo"> ELANEL</a>
        <ul class="menu">
            <li class="has-sub">
                <a href="javascript:void(0)">Categorias</a>
                <ul class="sub-menu">
                    <li><a href="">Motos</a></li>
                    <li><a href="">Soluciones dinerarias</a></li>
                    <li><a href="">Electrodemesticos</a></li>
                    <li><a href="">Usados</a></li>
                    <li><a href="">Beneficios para clientes</a></li>
                </ul>
            </li>
            <li class="scroll-to-section"><a href="" class="active">Sobre nosotros</a></li>
            <li><a href="">Entregas</a></li>
            <li class="scroll-to-section"><a href="">Contactanos</a></li> 
            <li class="scroll-to-section"><a href="">Unete a nosotros</a></li> 
        </ul>        
        {% comment %} <a class='menu-trigger'>
            <span>Menu</span>
        </a>       {% endcomment %}
    </nav>
    
</header>

