{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notFound.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/notFound.css' %}" />
    <title>Elanel Servicios y Soluciones</title>
    <link rel="shortcut icon" href="{% static 'images/fwd/icon_page4.png' %}">
</head>
<body>
    {% include 'nav.html' %}
    <main>
        <div class="text_error">
            <div class="container_text">
                <h1>¡Lo sentimos! <br> Ocurrió un error inesperado</h1>
                <h2>Al parecer la pagina que estas buscando no existe. Aun asi te invitamos que sigas navegando por nuestra pagina.</h2>
                <a class="button_redirect" href="{% url 'index' %}">
                    <img src="{% static 'images/icons/icon_back_index.png' %}" alt="">
                    <h4>Volver</h4>
                </a>
            </div>
        </div>
        <div class="image_error">
            <figure><img src="{% static 'images/notfound.png' %}" alt=""></figure>
        </div>
    </main>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/menu_hamburguer.js' %}"></script>
</body>
</html>