{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/privacidad.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_querys/footer.css' %}">
    
    <title>Elanel Servicios y Soluciones</title>
    <link rel="shortcut icon" href="{% static 'images/fwd/icon_page4.png' %}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="text_wrapper">
        <p class="text_main">En Elanel Servicios y Soluciones, entendemos que la privacidad de nuestros clientes es importante. Por esta razón, hemos establecido la siguiente política de privacidad para proteger su información personal.</p>
        <h3>Recopilación de información</h3>
        <p>Cuando utiliza nuestros servicios, podemos recopilar información personal, como su nombre, dirección, dirección de correo electrónico, número de teléfono y otra información relevante. También podemos recopilar información sobre sus transacciones con nosotros.</p>
        <h3>Uso de la información</h3>
        <p>La información que recopilamos se utiliza para brindarle nuestros servicios y para mejorarlos. También podemos utilizar la información para enviarle correos electrónicos y boletines informativos relacionados con nuestros servicios.</p>
        <h3>Divulgación de información</h3>
        <p>No compartimos su información personal con terceros, excepto cuando sea necesario para proporcionarle nuestros servicios. En algunos casos, podemos divulgar información personal si se nos requiere por ley.</p>
        <h3>Seguridad de la información</h3>
        <p>Tomamos medidas razonables para proteger la información personal que recopilamos de pérdida, mal uso y acceso no autorizado, divulgación, alteración y destrucción. Sin embargo, tenga en cuenta que ninguna medida de seguridad es 100% efectiva.</p>
        <h3>Cookies y tecnologías similares</h3>
        <p>Utilizamos cookies y tecnologías similares para mejorar nuestros servicios y brindar una experiencia personalizada. Estas tecnologías nos permiten recopilar información sobre su uso de nuestros servicios, como la página que visitó, el tiempo que pasó en ella y la ubicación geográfica de su dispositivo.</p>
        <h3>Cambios a esta política de privacidad</h3>
        <p>Podemos actualizar esta política de privacidad en cualquier momento. Si realizamos cambios significativos a la forma en que manejamos su información personal, le notificaremos por correo electrónico o mediante una publicación destacada en nuestro sitio web.</p>
        <h3>Preguntas y comentarios</h3>
        <p>Si tiene alguna pregunta o comentario sobre nuestra política de privacidad, no dude en comunicarse con nosotros a través de nuestro sitio web o por correo electrónico.</p>
    </div>

    {% include 'footer.html' %}
    
</body>
<script src="{% static 'js/header.js' %}"></script>
</html>