{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sobre_nosotros.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/sobre_nosotros.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/footer.css' %}" />

    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icon_page4.png' %}"
    />
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="wrapper">
      <section class="one_section">
        <video src="{% static 'images/images_sobre_nosotros/video_elanel.mp4' %}"  type="video/mp4" autoplay muted loop preload="auto">
        </video>

        {% comment %} <figure>
          <img
            src="{% static 'images/images_sobre_nosotros/section_1.jpg' %}"
            alt=""
          />
        </figure> {% endcomment %}
        <h1>Quienes <strong>Somos</strong></h1>
        <p>
          Bienvenidos a Elanel, tu tienda en línea de confianza. Aquí encontrarás una amplia variedad de productos de alta calidad, desde motocicletas hasta electrodomésticos, y también ofrecemos ayuda dineraria y servicio técnico. Además, nuestros clientes disfrutan de beneficios exclusivos y ofertas especiales. <br><strong>¡Compra con confianza en Elanel!</strong>
        </p>
      </section>
      <section class="two_section">
        <p>
          Somos una Empresa que comercializa productos y servicios fundada en la
          provincia del chaco que presenta un sistema original, moderno y
          exitoso, brindamos atención personalizada e inmediatez a la demanda de
          nuestros clientes con alcance nacional
        </p>
        <br />
        <p>
          Nos caracteriza el compromiso y la pasión por el trabajo constante, el
          desarrollo humano y profesional de nuestros colaboradores, Una
          compañía sólida y competitiva que brinda el mejor servicio, con
          innovación y creatividad, a través de la excelencia.
        </p>
      </section>
      <section class="three_section">
        <div class="mision">
          <h3>MISION</h3>
          <p>
            Cumplir totalmente las necesidades de nuestros clientes a través de
            la excelencia en el servicio, el desarrollo profesional de nuestros
            colaboradores y el compromiso con nuestro país.
          </p>
        </div>
        <div class="vision">
          <h3>VISION</h3>
          <p>
            Nuestra visión es ser una empresa líder en la comercialización de
            productos y servicios logrando la satisfacción y excediendo las
            expectativas de los clientes. Creando una cultura con huella de
            liderazgo que nos permita ser percibidos como primera opción del
            mercado
          </p>
        </div>
      </section>
      <section class="four_section">
        <figure>
          <img
            src="{% static '/images/images_sobre_nosotros/section_4.jpg' %}"
            alt=""
          />
        </figure>
        <h3 class="title_valores">NUESTROS VALORES</h3>
        <div class="text_1">
          <p>
            Lideramos con el ejemplo de una empresa que crea emociones,
            transforma el sueño y enriquece la vida de las personas en todo el
            pais, por medio de la sabiduría y la pasión, dispuesta a
            proporcionar siempre nuevas emociones.
          </p>
          <ul>
            <li>Trabajo en equipo</li>
            <li>Innovación</li>
            <li>Integridad(Honestos y Rectos)</li>
            <li>
              Profesionalismo (luchar por la excelencia y la mejora continua)
            </li>
            <li>Calidez (en nuestras relaciones)</li>
            <li>Lealtad(leal a la empresa)</li>
          </ul>
        </div>
        <h3 class="title_estrategia">ESTRATEGIA</h3>
        <div class="text_2">
          <ul>
            <li>
              <strong>Crecer:</strong> A través de la expansión nacional con
              resultados sostenibles
            </li>
            <li>
              <strong>Ofrecer:</strong> A nuestros clientes una experiencia
              diferente, basada en Servicios, comunicación innovadora, con
              calidad y calidez.
            </li>
            <li>
              <strong>Crear:</strong> Relaciones amigables con nuestros clientes
              y la comunidad.
            </li>
            <li>
              <strong>Desarrollar:</strong> Procesos simples y eficientes.
            </li>
            <li>
              <strong>Promover:</strong> El desarrollo continuo de nuestros
              colaboradores. Fomentar un clima de alegría, participación y
              trabajo en equipo. Proveer las mejores herramientas para
              gestionar.
            </li>
          </ul>
        </div>
      </section>
    </div>
    <footer>
      <div class="footer__encuentranos">
        <h3>Encuentranos</h3>
        <ul>
          <li class="footer__direccion"> 
            <p><strong>Corrientes:</strong> 9 de Julio 1687 Local 2</p>
            <p><strong>Resistencia:</strong> Obligado 841 Local B</p>
          </li>
          <li class="footer__social-media"> 
            <a href="https://m.facebook.com/elanelsys" target=”_blank”>
              <img src="{% static 'images/icons/social_face.png' %}" alt="">
            </a>
            <a href="https://www.instagram.com/elanel.servicios/?hl=es-la" target=”_blank”>
              <img src="{% static 'images/icons/social_insta.png' %}" alt="">
            </a>
            <a href="https://www.tiktok.com/@elaneloficial" target=”_blank”>
              <img src="{% static 'images/icons/tiktok_icon.svg' %}" alt="">
            </a>
            <a href="whatsapp.com" target=”_blank”>
              <img src="{% static 'images/icons/social_whatsapp.png' %}" alt="">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__categorias">
        <ul>
          <li class="footer__motos"> 
            <a href="{% url 'market:motos' %}">Motos</a>
          </li>
          <li class="footer__soluciones-dinerarias"> 
            <a href="{% url 'market:soluciones_dinerarias' %}">Soluciones Dinerarias</a>
          </li>
          <li class="footer__electrodomesticos"> 
            <a href="{% url 'market:electrodomesticos' %}">Electrodomesticos</a>
          </li>
          <li class="footer__beneficios-para-cliente"> 
            <a href="{% url 'market:beneficios' %}">Beneficios para cliente</a>
          </li>
        </ul>
      </div>
      <div class="footer__quienes-somos">
        <h3>Quienes Somos</h3>
        <ul>
          <li class="footer__mision">
            <a href="">Mision</a>
          </li>
          <li class="footer__vision">
            <a href="">Vision</a>
          </li>
        </ul>
      </div>

      <div class="footer__contactanos">
        <h3>Contactanos</h3>
        <ul>
          <li class="footer__num-telefono"> 
            <img src="{% static 'images/icons/social_tel.png' %}" alt="">
            <p>Chaco: 362 524-5484</p> 
          </li>
          <li class="footer__correo-resistencia"> 
            <img src="{% static 'images/icons/social_mail.png' %}" alt="">
            <p>admin.chaco@elanelsys.com</p>
          </li>
          <p>_____________________________________</p>
          <li class="footer__num-telefono"> 
            <img src="{% static 'images/icons/social_tel.png' %}" alt="">
            <p>Corrientes: 3795 16-1905</p> 
          </li>
          <li class="footer__correo-corrientes"> 
            <img src="{% static 'images/icons/social_mail.png' %}" alt="">
            <p>admin.ctes@elanelsys.com</p>
          </li>
        </ul>
      </div>
      <div class="footer__logo">
        <img
          src="{% static 'images/icons/icono_arreglado_blanco.png' %}"
          alt=""
        />
      </div>
    </footer>

    <script src="{% static 'js/menu_hamburguer.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
  </body>
</html>
