{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/trabaja_con_nosotros.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_querys/nav_bar.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/media_querys/trabaja_con_nosotros.css' %}"
    />
    <title>Elanel Servicios y Soluciones</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fwd/icon_page4.png' %}"
    />
  </head>

  <body>
    {% include 'nav.html' %}

    <section class="trabaja_con_nosotros">
      
      <div class="trabaja__texto">

        <div class="container_tittle">
          <div class="trabaja__title">
            <h1>
              Trabajá<br />
              con<br />
              <strong id="nosotros_decoration">Nosotros</strong>
            </h1>
          </div>
        </div>

        <div class="container_text">
          <div class="trabaja_text">
            <p>
              ¡Únete al equipo de Elanel! Buscamos personas apasionadas y comprometidas para formar parte de nuestra empresa tecnológica innovadora. Ofrecemos un ambiente de trabajo dinámico, desarrollo profesional y enfoque en la calidad de vida de nuestros empleados. Completa el formulario para considerarte en futuras oportunidades laborales.
            </p>
          </div>
        </div>
        
      </div>

      <div class="formulario-wrapper">
        <form method="POST" enctype="multipart/form-data" class="form" id="form_fetch_post">
          {% csrf_token %}
          <div class="inputs_container">

            <div class="inputs_texts">
              <div class="name_field">
                <label for="name">Nombre completo</label>
                <input
                  type="text"
                  name="nombre_completo"
                  placeholder="Ej: Lima Matias Ezequiel"
                  id="name"
                  required
                  autocomplete="off"
                  onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)|| (event.charCode == 241 || event.charCode == 209) || (event.charCode == 32)'
                />
              </div>
    
              <div class="mail_field">
                <label for="mail">Correo electrónico</label>
                <input
                  type="email"
                  name="email"
                  placeholder="Ej: micorreo@gmail.com"
                  id="email"
                  required
                  autocomplete="off"
                />
                <p>Formato de email no valido</p>
              </div>
    
              <div class="number_field">
                <label for="number">Número de telefono</label>
                <input
                  type="text"
                  name="num_telefono"
                  placeholder="Ej: 8922909090"
                  id="number"
                  required
                  autocomplete="off"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                />
              </div>
            </div>
         
            
            <div class="cv_field">
              <h2>¡Compartenos tu CV!</h2>
              <label for="cv">
                <img src="{% static 'images/icons/cv_icon.png' %}" alt=""/>
              </label>
              <input
                type="file"
                name="cv"
                id="cv"
                accept=".png, .jpg, .jpeg, .pdf"
              />
              <div class="image_url"></div>
              <button type="button" id="cv_input">Subir</button>
            </div>

          </div>
          <button type="button" id="form_product_button" class="desactive">
            Enviar
            <div class="wrapper__loader">
              <div id="loader"></div>
            </div>
          </button>
           
        </form>
      </div>

      <div class="form_success_wrapper">
        <div class="message_success">
          <div class="text_thanks">
            <h3>Muchas gracias por confiar en nosotros</h3>
            <h4>Nos comunicaremos contigo mediante un correo</h4>
          </div>
          <figure class="image_success">
            <img src="{% static 'images/icons/pulgar.svg' %}" alt="pulgar_aprovado">
          </figure>
          <button id="close_form_success">Cerrar</button>
        </div>
        
      </div>

      <div class="form_error_wrapper">
        <div class="message_error">
          <div class="text_error">
            <h3>Algo ha salido mal</h3>
            <h4>Al parecer has colacado mal algun campo. Vuelve a intentarlo</h4>
          </div>
          <figure class="image_error">
            <img src="{% static 'images/icons/eliminar.svg' %}" alt="pulgar_aprovado">
          </figure>
          <button id="close_form_error">Cerrar</button>
        </div>
      </div>

    </section>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/menu_hamburguer.js' %}"></script>
    <script src="{% static 'js/validate_button_products.js' %}"></script>
    <script src="{% static 'js/fetch_form_trabaja.js' %}"></script>
    <script src="{% static 'js/cv_detect.js' %}"></script>
  </body>
</html>
