:root{

--bgColor : #12131b;
--secondBgColor: #e8e8e8;
--pColor: #212436;
--sColor: #027cf1;
--tColor: #02e3f5;
}
*{
    margin: 0;
    padding: 0;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
  }
  html{
    box-sizing: border-box;
    font-size: 62.5%; 
    background-color: var(--secondBgColor);
}

@font-face {
font-family: babapro;
src: url("../fonts/Babapro-Ea4rr.otf");
}

@font-face{
font-family: raleway;
src: url("../fonts/Raleway-Regular.ttf")
}
@font-face{
font-family: raleway-bold;
src: url("../fonts/Raleway-Bold.ttf")
}
@font-face{
font-family: raleway-semibold;
src: url("../fonts/Raleway-SemiBold.ttf")
}

.espace_header_categories{
    width: 100%;
    height: 65px;
}
.form_modal
{
    position: fixed;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000c2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all ease;
}

.form_modal.active
{
    opacity: 1;
    pointer-events: unset;
}

#icon_close
{
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
}
.contact > button.display_form
{
    text-align: center;
    min-width: 120px;
    cursor: pointer;
    color: var(--bgColor);
    margin-top: 1rem;
    border-radius: 7px;
    border-color: var(--sColor);
    outline: none;
    background-color: #fff;
    font-family: raleway-semibold;
    padding: 0.7rem 1.4rem;
}

.contact > button.display_form:hover {
    transition: all 0.2s ease;
    background-color: var(--sColor);
    border-color: transparent;
    box-shadow: 0px 0px 10px 3px #2a87e0c2;
}

#form_fetch_post > #button_close
{
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-family: 'raleway-semibold';
    cursor: pointer;
}
#form_fetch_post > #button_close:hover
{
    color: rgb(228, 54, 54);
}


#form_fetch_post{
    display: flex;
    width: 30%;
    height: fit-content;
    flex-direction: column;
    padding: 5rem;
    background: white;
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
#form_fetch_post > h3{
    font-size: 2rem;
    font-family: raleway-bold;
    margin-bottom: 2%;
}
#form_fetch_post > div{
    width: 80%;
    padding: 1rem 0;
    position: relative;
}

#form_fetch_post > div> input{
    font-size: 1.2rem;
    font-family: raleway-semibold;
    padding: 1rem;
    border-color:transparent;
    transition: all .4s ease;
    border: #0b3862 2px solid;
    width: calc(100% - 2rem );
    height: 100%;
    border-radius: 6px;

}
#form_fetch_post > div>input:focus{
    outline: none;
    transition: all 2 ease;
    box-shadow: 0px 0px 20px 2px #027cf130;
    border-color: #027df15d;
}


#form_fetch_post > div > p
{
  display: none;
  position: absolute;
  font-family:raleway;
  font-size: 1.2rem;
  color: red;
  /* bottom: -1.3rem; */
  left: .4rem;
}


#form_fetch_post > div > #email.invalid
{
  border: 1px red solid;
}
#form_fetch_post > div > #email.invalid ~ p{
  display: inline;
}

#form_fetch_post > #form_product_button{
    margin-top: 3%;
    width: 50%;
    height: 34px;
    border-radius: 6px;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    background-color: #1c2457;
    color: white;
    font-size: 1.6rem;
    font-family: raleway-semibold;
    transition: all .4s ease;
}
#form_fetch_post > #form_product_button.desactive
{
    background-color: #111842bd;
    pointer-events: none;
}

#form_fetch_post > #form_product_button:hover{
    transition: all .4s ease;
    background-color: #fff;
    color: #12131b;
    box-shadow: 0px 0px 20px 2px #027cf130;
    border-color: #027df15d;
}

.container_block
{
    display: block;
    width: 100%;
    height: calc(100vh - 65px);
}


.wrapper{
    display: flex;
    position: relative;
    align-items: center;
}
.products_images
{
    width: 65%;
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 4rem;
    align-items: center;
    padding: 2rem 0;
    /* background-color: white; */
    margin: 0 2rem 0 2rem;
    border-radius: 5rem;
    height: 78vh;
    flex-wrap: wrap;
}

.complete__image{
    height: fit-content;
    /* height: 70%; */
    overflow: hidden;
    max-width: 700px;
    max-height: 500px;
    width: 60%;
}

.resumen{
    width: 35%;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    row-gap: 3%;
    /* padding: 4rem 0; */
    background: white;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    box-shadow: 0px 0px 19px 6px #00000030;
}
.resumen > div 
{
    width: 70%;
    margin-left: 4rem;
}


#title_product{
    font-size: 2.5rem;
    font-family: raleway-bold;
    height: fit-content;
    color: var(--sColor);
}
#precio_product{
    font-size: 2.2rem;
    font-family: raleway-semibold;
    margin-top: 2%;
    /* height: fit-content; */
}
.resumen > .resumen__detalle> div{
    display: flex;
    justify-content: space-between;
    background-color: #027df19f;
    padding: 3% 5%;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.resumen > .resumen__detalle> div>h2{
    font-size: 1.4rem;
    font-family: raleway;
    height: fit-content;
}


.resumen .contact > h3:first-child{
    font-size: 1.5rem;
    font-family: raleway-bold;
}
.resumen .contact > h3{
    font-size: 1.3rem;
    font-family: raleway;
    margin-bottom: 2%;
}



.nav__images{
    height: 70%;
    max-width: 180px;
    max-height: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y:scroll;
    width: 30%;
    padding: 0 1rem 2rem 1rem;
    
}
.nav__images > figure:first-child
{
    margin: 0;
}

#form_fetch_post > input#objetivo{
    position: absolute;
    visibility: hidden;
    width: 1%;
}

.nav__images::-webkit-scrollbar{
    width: 4px;
    border-radius: 5px;
}
.nav__images::-webkit-scrollbar-thumb{
    background: #0b386289;
    border-radius: 1rem;
}

.title_producto_responsive
{
    display: none;
    position: absolute;
    top: 2rem;
    right: 3rem;
}
.nav__images > figure{
    width: 80%;
    cursor: pointer;
    margin-top: 1.4rem;
    padding: 1rem;
    border-radius: 2rem;
    /* border-radius: 1rem; */
    border:#0b3862 2px solid;
    min-height: 95px;
}
.nav__images > figure:hover{
    background-color: #4d4e5305;
    border-color: #027cf1;

}
.nav__images > figure>img{
    width: 100%;
    max-height: 120px;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.complete__image > img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}





.detalles{
    background-color: #38479e2c;
    /* padding: 1.3rem; */
    border-radius: 1rem;
    /* overflow: hidden; */
}
/* .detalles > .text
{
    width: 100%;
    padding-bottom: 1.1rem;
    padding-top: 1.1rem;
    background-color: #38479e2c;
    padding-left: 3rem;
} */
.detalles > .text > h5{
    font-size: 1.5rem;
    font-family: raleway-semibold;
    
}
.detalles > .text
{
    padding: 1rem 0 1rem 1rem;
    background-color: #38479e2c;
    border-radius: 1rem;
}
.ficha_tenica
{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* margin-top: 1.6rem; */
    /* margin-left: 6rem; */
    padding: 1rem;
    overflow: hidden;
}
.ficha_tenica a{
    font-size: 1.3rem;
    font-family: raleway-semibold;
    text-decoration: none;
    color: black;
}

.ficha_tenica > img 
{
    width: 2.1rem;
}
#swal2-title{
    font-size: 2.5rem;
    font-family: raleway-bold;
}
#swal2-html-container{
    font-size: 1.7rem;
    font-family: raleway;
    margin: 4% 0;
}
.swal2-styled.swal2-confirm{
    width: 14rem;
    background-color: #027df1;
    border-radius: 5px;
    font-size: 1.4rem !important;
    font-family: raleway-bold;
}
.message_success.hide
{
    display: none;
}

form#form_fetch_post >.message_success
{
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #2124361f;
    padding: 2rem;
    border-radius: 20px;
}
.message_success > h3{
    font-size: 1.7rem;
    font-family: raleway-bold;
    color: #027df1;
    text-align: center;
}
.message_success > h4{
    font-size: 1.5rem;
    font-family: raleway-semibold;
    margin-top: .3rem;
    text-align: center;
}


.message_error.hide
{
    display: none;
}

form#form_fetch_post >.message_error
{
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #2124361f;
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid red;
    box-shadow: 0px 0px 15px 0px #df5151;
}
.image_error
{
    width: fit-content;
    margin: 0 auto;
    margin-top: .5rem;
}
.message_error > h3{
    font-size: 1.7rem;
    font-family: raleway-bold;
    color: #f10202;
    text-align: center;
}
.message_error > h4{
    font-size: 1.5rem;
    font-family: raleway-semibold;
    margin-top: .5rem;
    text-align: center;
}



